---
import { If } from '@marmadilemanteater/astro-logic-components'
interface Props {
  title?: string
}
const { title } = Astro.props
---
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
    <If condition={title !== undefined}>
      <title>{title}</title>
    </If>
    <slot name="head" />
    <style lang='less' is:global>
      @import url('../variables.less');
      body {
        margin: 0;
        background-attachment: fixed;
        background-color: black;
        background-image: url(/images/sno-who-knows.png);
        background-size: 820px;
        font-size: 1.05em;
        font-family: system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    'Segoe UI',
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    'Open Sans',
                    'Helvetica Neue',
                    sans-serif;
        animation: animatedBackground 15s linear infinite;
        /* Firefox */
        image-rendering: crisp-edges;
        /* Chromium + Safari */
        image-rendering: pixelated;
        color: black;
        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
      body::before {
        content: ' ';
        background-image: url(/images/sno-who-knows.png);
        background-size: 410px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        animation: animatedBackground 23s linear infinite;
        z-index: -1;
      }
      @keyframes animatedBackground {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 5px 410px;
        }
        100% {
          background-position: 0px 820px;
        }
      }
      @keyframes animatedBackground2 {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: -10px 205px;
        }
        100% {
          background-position: 0px 410px;
        }
      }
      a, a:visited {
        color: @link-light;
        text-decoration: none;
        @media (prefers-color-scheme: dark) {
          color: @link-dark;
        }
      }
      a:hover {
        text-decoration: underline;
      }
      .card-top {
        overflow: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }
      .card-top.break-on-mobile {
        @media (max-width: @md-breakpoint) {
          border-radius: 0;
        }
      }
      main {
        max-width: 1000px;
        margin: 0 auto;
      }
      main footer {
        padding: 1em;
        background-color: @bg-light-2;
        @media (prefers-color-scheme: dark) {
          background-color: @bg-dark-1;
        }
      }
      main footer a, main footer a:visited {
        color: black;
        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
      header {
        display: flex;
        justify-content: center;
        padding-bottom: 1em;
      }
      header a {
        min-height: 152px;
        @media (max-width: @lg-breakpoint) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 236px;
        }
        @media (max-width: @md-breakpoint) {
          min-height: 152px;
        }
      }
      header img {
        vertical-align: middle;
      }
      header img.username {
        position: relative;
        left: -24px;
        @media (max-width: @lg-breakpoint) {
          left: 0;
        }
        @media (max-width: @md-breakpoint) {
          display: none;
        }
      }
      .header-image {
        max-width: 100%;
        filter: hue-rotate(220deg) brightness(1.1);
        @media (prefers-color-scheme: dark) {
          filter: none;
        }
      }
      .emoji[src^="/images/emoji/twemoji/"] {
        /* add a drop shadow to all twemoji emoji */
        filter: drop-shadow(1.5px 0px 0px black) 
        drop-shadow(0px 1.5px 0px black) 
        drop-shadow(1.5px 1.5px 0px black) 
        drop-shadow(-1.5px -1.5px 0px black);
      }
    </style>
  </head>
  <body>
    <header>
      <a href='/' >
        <img src='/images/name-pink.gif' class='header-image' alt='emma' />
        <img src='/images/username.gif' class='username' />
      </a>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
