---
import MasterTemplate from '../../layouts/master.astro'
import Emoji from '../../components/emoji.astro'
import BlogPostList from '../../components/blog-post-list/blog-post-list.astro'
import { blogPostRepository, allTags } from '../../dataservice'
const ids = await blogPostRepository.getAllIdsSorted()
const allPosts = await Promise.all(ids.map((id) => blogPostRepository.getBlogPost(id)))
---

<MasterTemplate title='MarmadileManteater - Blog'>
  <BlogPostList posts={allPosts} tags={allTags} class='card-top'>
    <p slot='top' class='rss-link'><a href='/blog/rss.xml'><Emoji emoji='📰' /> rss</a></p>
  </BlogPostList>
</MasterTemplate>
<style lang='less' is:global>
  @import url(../../variables.less);

  .rss-link {
    background-color: @bg-light-2;
    margin: 0;
    padding: 1em 1em 1em;
    @media (prefers-color-scheme: dark) {
      background-color: @bg-dark-2;
    }
  }
  .rss-link a {
    color: black;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
  .blog-post-list a {
    color: black;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
</style>
