---
import { Foreach } from '@marmadilemanteater/astro-logic-components'
import type { SocialPost } from '@marmadilemanteater/dataservice/social-posts'
import SocialPostComponent from '../social-post/social-post.astro'
import SocialProfile from '../social-profile/social-profile.astro'

interface Props {
  socialPosts: SocialPost[]
}

const { socialPosts }: Props = Astro.props
---
<section class='social-post-list'>
  <SocialProfile />
  <Foreach
    list={socialPosts}
  >
    {(post: SocialPost) => <SocialPostComponent truncateLongPost={false} post={post} />}
  </Foreach>
</section>

<style lang='less' is:global>
  @import url('../../variables.less');
  .social-post-list .social-post {
    margin-bottom: 1.5em;
    @media (max-width: @lg-breakpoint) {
      margin-bottom: 0;
    }
  }
  section.social-post-list {
    columns: 3;
    column-gap: 2em;
    @media (max-width: @lg-breakpoint) {
      columns: 1;
    }
  }
</style>
