---
import { Foreach } from '@marmadilemanteater/astro-logic-components'
import type { SocialPost } from '@marmadilemanteater/dataservice/social-posts'
import SocialPostComponent from '../social-post/social-post.astro'

interface Props {
  socialPosts: SocialPost[]
}

const { socialPosts }: Props = Astro.props
---
<section class='social-post-preview'>
  <Foreach
    list={socialPosts}
  >
    {(post: SocialPost) => <SocialPostComponent post={post} />}
  </Foreach>
</section>

<style lang='less' is:global>
  @import url('../../variables.less');
  section.social-post-preview {
    display: flex;
    gap: 1em;
    justify-content:space-between;
    @media (max-width: @lg-breakpoint) {
      flex-direction: column;
      gap: 0;
    }
  }
</style>
